<mat-list>
  <h2 mat-subheader><mat-icon mat-list-icon>search</mat-icon> Filtros de busqueda</h2>
  <div mat-subheader><mat-icon mat-list-icon>receipt</mat-icon> Genres</div>
    <mat-form-field appearance="fill">
      <mat-label>Chose an option</mat-label>
      <mat-select>
        <mat-option *ngFor="let genre of genres" value="genre" >{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>
  <mat-divider></mat-divider>
  <div mat-subheader><mat-icon mat-list-icon>remove_from_queue</mat-icon> Classification</div>
    <mat-form-field appearance="fill">
      <mat-label>Chose an option</mat-label>
      <mat-select>
        <mat-option *ngFor="let classification of classifications" value="classification" >{{classification}}</mat-option>
      </mat-select>
    </mat-form-field>
  <mat-divider></mat-divider>
  <div mat-subheader><mat-icon mat-list-icon>queue_play_next</mat-icon> Key word</div>
    <mat-form-field>
      <input matInput>
    </mat-form-field>
  <mat-divider></mat-divider>
</mat-list>
