<cdk-virtual-scroll-viewport itemSize="6" style="height:100%;">
  <mat-card *cdkVirtualFor="let movie of movieslist" class="mat-elevation-z9">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>
        {{movie.titulo}}
      </mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <span>{{movie.genero}}</span>
        <span>{{movie.clasificacion}}</span>
        <span>{{movie.duracion}}</span>
      </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button >Ver horarios</button>
    </mat-card-actions>
  </mat-card>
</cdk-virtual-scroll-viewport>
