<mat-grid-list cols="3" rowHeight="2:2">
  <mat-grid-tile *ngFor="let movie of movieslist">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{movie.title}}
        </mat-card-title>
        <mat-card-subtitle>{{movie.movie}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi fuga, inventore illo voluptatibus rerum, facilis ipsa cupiditate similique deleniti explicabo temporibus neque iure magni eum minus laboriosam nam quas corporis?
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button >Ver horarios</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
